---
layout: page
title: 前端攻城 云端漫步
---
{% include JB/setup %}



<h2>Recent Articles</h2>

<ul class="posts index_posts">
  {% for post in paginator.posts %}
    <li><h3><a class="tit" href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3> -- <span class="post-sub">{{ post.date | date_to_string }}</span>
        <p class="abstract">{{ post.content | strip_html | truncatewords:50 }}</p>
        <p class="more"><a href="{{ BASE_PATH }}{{ post.url }}"  target="_blank" title="Read more...">Continue Reading ...</a></p>
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div id="post-pagination" class="pagination">

    <ul class="pages">
        {% if paginator.previous_page %}
        <li>
            {% if paginator.previous_page == 1 %}
            <a href="/">Prev</a>
            {% else %}
            <a href="/page{{paginator.previous_page}}">Prev</a>
            {% endif %}
        </li>
        {% else %}
        <li class="disabled"><a href="#">Prev</a></li>
        {% endif %}


        {% if paginator.page == 1 %}
        <li class="active"><a href="/page1">1</a></li>
        {% else %}
        <li><a href="/page1">1</a></li>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}

        {% if count == paginator.page %}
        <li class="active">
            <span class="current-page">{{count}}</span>
        </li>
        {% else %}
        <li><a href="/page{{count}}">{{count}}</a></li>
        {% endif %}

        {% endfor %}

        {% if paginator.next_page %}
        <li><a href="/page{{paginator.next_page}}">Next</a></li>
        {% else %}
        <li class="disabled"><span>Next</span></li>
        {% endif %}
    </ul>

</div>

<h2>Tag Cloud</h2>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}
  {% include JB/tags_list %}
</ul>


<h2>Subscribe</h2>

<div class="feed">
<!-- Feedsky FEED发布代码开始 -->
<!-- FEED自动发现标记开始 -->
<link title="RSS 2.0" type="application/rss+xml" href="http://feed.dearlordchen.github.com" rel="alternate" />
<!-- FEED自动发现标记结束 -->
<a href="http://www.zhuaxia.com/add_channel.php?url=http://feed.dearlordchen.github.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://fusion.google.com/add?feedurl=http://feed.dearlordchen.github.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://www.xianguo.com/subscribe.php?url=http://feed.44ux.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://inezha.com/add?url=http://feed.44ux.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_nazha.gif" alt="&#21738;&#21522;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://reader.youdao.com/b.do?keyfrom=feedsky&url=http://feed.44ux.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_youdao.gif" alt="&#26377;&#36947;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://mail.qq.com/cgi-bin/feed?u=http://feed.44ux.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_qq.gif" alt="QQ&#37038;&#31665;" vspace="2" style="margin-bottom:3px" ></a>
<a href="http://9.douban.com/reader/subscribe?url=http://feed.44ux.com" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_douban.gif" alt="&#20061;&#28857;" vspace="2" style="margin-bottom:3px" ></a>
<!-- Feedsky FEED发布代码结束 -->
</div>



