<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
   <div class="span2">
       <h2>Subscribe</h2>

       <div class="feed">
           <!-- Feedsky FEED发布代码开始 -->
           <!-- FEED自动发现标记开始 -->
           <link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/lordchen" rel="alternate" />
           <!-- FEED自动发现标记结束 -->
           <a href="http://www.zhuaxia.com/add_channel.php?url=http://feed.feedsky.com/lordchen" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a><br />
           <a href="http://fusion.google.com/add?feedurl=http://feed.feedsky.com/lordchen" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a><br />
           <a href="http://reader.youdao.com/b.do?keyfrom=feedsky&url=http://feed.feedsky.com/lordchen" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_youdao.gif" alt="&#26377;&#36947;" vspace="2" style="margin-bottom:3px" ></a><br />
           <a href="http://mail.qq.com/cgi-bin/feed?u=http://feed.feedsky.com/lordchen" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_qq.gif" alt="QQ&#37038;&#31665;" vspace="2" style="margin-bottom:3px" ></a><br />
           <a href="http://9.douban.com/reader/subscribe?url=http://feed.feedsky.com/lordchen" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot02_douban.gif" alt="&#20061;&#28857;" vspace="2" style="margin-bottom:3px" ></a><br />
           <!-- Feedsky FEED发布代码结束 -->
       </div>

       <h2>Tag Cloud</h2>

       <ul class="tag_box inline">
           {% assign tags_list = site.tags %}
           {% include JB/tags_list %}
       </ul>
   </div>
</div>
